<nav class="navbar navbar-dark bg-primary px-3 py-2">
  <span class="navbar-brand mb-0 h1" style="font-size:2.2rem">Monumentos de Málaga</span>
  <div class="ms-auto">
    <button id="btnLogout" class="btn btn-dark text-white d-none" onclick="cerrarSesion()">Logout</button>
    <button id="btnLogin" class="btn btn-dark text-white" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
  </div>
</nav>